@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sen:wght@400..800&display=swap");
body {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom-container {
  max-width: 1140px;
  margin: 0 auto;
}
@media only screen and (max-width: 576px) {
  .custom-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .custom-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.custom-brand-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
@media only screen and (max-width: 576px) {
  .custom-brand-container {
    padding: 0 0;
  }
}

.e-container {
  margin-left: 120px;
  margin-right: 120px;
}

#brand-logo img {
  height: auto;
  width: 50%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.nav-section {
  position: relative;
  z-index: 999;
}
.nav-section .nav-wrapper .navbar {
  font-family: "Lato", sans-serif;
  padding: 0 35px;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
}
@media only screen and (max-width: 576px) {
  .nav-section .nav-wrapper .navbar {
    background-color: white;
    padding: 0 0;
  }
}
.nav-section .nav-wrapper .navbar .nav-left-part .nav-left-section .navbar-nav .nav-item .nav-link {
  font-size: 14.4px;
  line-height: 70px;
  padding-left: 14.4px;
  padding-right: 14.4px;
  color: white;
  text-transform: uppercase;
}
.nav-section .nav-wrapper .navbar .mobile-view {
  margin-left: 100px;
}
.nav-section .nav-wrapper .navbar .mobile-view .money {
  margin-right: 7px;
}
.nav-section .nav-wrapper .navbar .mobile-view .bag {
  position: relative;
}
.nav-section .nav-wrapper .navbar .mobile-view .bag i {
  font-size: 15px;
}
.nav-section .nav-wrapper .navbar .mobile-view .bag .zero-sec {
  background-color: black;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 8px;
}
.nav-section .nav-wrapper .navbar .mobile-view .bag .zero-sec .zero {
  position: absolute;
  top: -5px;
  left: 3px;
  color: white;
}
.nav-section .nav-wrapper .navbar .navbar-toggler {
  background-color: black;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 5px;
  padding-right: 5px;
}
.nav-section .nav-wrapper .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: unset;
  color: white;
}
.nav-section .nav-wrapper .navbar .nav-right-section .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-left: 13px;
  padding-right: 13px;
}
.nav-section .nav-wrapper .navbar .nav-right-section .navbar-nav .nav-item .nav-link .cart-img {
  position: relative;
}
.nav-section .nav-wrapper .navbar .nav-right-section .navbar-nav .nav-item .nav-link .cart-img i {
  font-size: 18px;
}
.nav-section .nav-wrapper .navbar .nav-right-section .navbar-nav .nav-item .nav-link .cart-img .zero-box-item {
  position: absolute;
  background-color: white;
  color: black;
  top: -11px;
  left: 8px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
}

#offcanvasCart .offcanvas-header h5 {
  font-size: 10px;
}
#offcanvasCart .offcanvas-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#offcanvasCart .offcanvas-body p {
  text-align: center;
  font-size: 14px;
}
#offcanvasCart .offcanvas-body button {
  margin-top: 580px;
  width: 100%;
  border: none;
  border-radius: 0px;
}
@media only screen and (max-width: 1024px) {
  #offcanvasCart .offcanvas-body button {
    margin-top: 490px;
  }
}

#offcanvasCarttwo .offcanvas-header h5 {
  font-size: 10px;
}
#offcanvasCarttwo .offcanvas-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-home-section {
  font-family: "Lato", sans-serif;
  background: url(/assets/asset\ 25.jpeg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .main-home-section {
    height: auto;
  }
}
.main-home-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 576px) {
  .main-home-section .overlay {
    height: auto;
  }
}
.main-home-section .home-section {
  padding-top: 227.875px;
  padding-bottom: 227.875px;
  position: relative;
  z-index: 1000;
}
@media only screen and (max-width: 576px) {
  .main-home-section .home-section {
    z-index: 0;
  }
}
@media only screen and (max-width: 768px) {
  .main-home-section .home-section {
    z-index: 0;
  }
}
@media only screen and (max-width: 576px) {
  .main-home-section .home-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 140px;
    padding-bottom: 75px;
  }
}
.main-home-section .home-section .home-content-title h1 {
  font-size: 66px;
  font-weight: 700;
  line-height: 79.2px;
  color: white;
}
@media only screen and (max-width: 576px) {
  .main-home-section .home-section .home-content-title h1 {
    font-size: 30px;
    text-align: center;
    line-height: 36px;
  }
}
.main-home-section .home-section .home-content-discount {
  margin-top: 25px;
  margin-bottom: 20px;
}
.main-home-section .home-section .home-content-discount h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  color: white;
}
@media only screen and (max-width: 576px) {
  .main-home-section .home-section .home-content-discount h3 {
    font-size: 20px;
    line-height: 30px;
  }
}
.main-home-section .home-section .home-button .shop-button .btn {
  border: none;
  border-radius: 0px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 1px;
  line-height: 14px;
  padding: 16px 28px;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  .main-home-section .home-section .home-button .shop-button .btn {
    width: 100%;
  }
}
.main-home-section .home-section .home-button .shop-button .btn:hover {
  background-color: black;
  color: white;
}
.main-home-section .home-section .home-button .shop-button .btn.btn-2 {
  margin-left: 20px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
@media only screen and (max-width: 576px) {
  .main-home-section .home-section .home-button .shop-button .btn.btn-2 {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.main-home-section .home-section .home-button .shop-button .btn.btn-2:hover {
  background-color: white;
  color: black;
}

.brand-category-section {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 576px) {
  .brand-category-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.brand-category-section .category-section {
  font-family: "Lato", sans-serif;
  position: relative;
  height: 500px;
  color: white;
  margin-top: 50px;
}
@media only screen and (max-width: 576px) {
  .brand-category-section .category-section {
    height: 350px;
    margin-top: 20px;
  }
}
.brand-category-section .category-section .category-img img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 576px) {
  .brand-category-section .category-section .category-img img {
    height: 350px;
  }
}
.brand-category-section .category-section .overlay-img {
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media only screen and (max-width: 576px) {
  .brand-category-section .category-section .overlay-img {
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
.brand-category-section .category-section .overlay-img .image-headline h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  margin-bottom: 5px;
  text-align: left;
}
.brand-category-section .category-section .overlay-img .img-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 29.7143px;
  text-align: left;
}
.brand-category-section .category-section .overlay-img .btn {
  border: none;
  border-radius: 0px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 1px;
  line-height: 14px;
  padding: 16px 28px;
  text-transform: uppercase;
  width: 50%;
}
@media only screen and (max-width: 576px) {
  .brand-category-section .category-section .overlay-img .btn {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .brand-category-section .category-section .overlay-img .btn {
    width: 70%;
  }
}
.brand-category-section .category-section .overlay-img .btn:hover {
  background-color: black;
  color: white;
}

.feature-product-section {
  font-family: "Lato", sans-serif;
  background-color: rgb(245, 247, 249);
  padding: 100px 0;
}
@media only screen and (max-width: 576px) {
  .feature-product-section {
    padding: 30px 0;
  }
}
.feature-product-section .feature-headline {
  padding-bottom: 15px;
}
.feature-product-section .feature-headline h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 54.6px;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .feature-product-section .feature-headline h2 {
    font-size: 25px;
    line-height: 33px;
    font-weight: 700;
  }
}
.feature-product-section .border-line {
  width: 100px;
  height: 2px;
  margin: 0 auto;
  background-color: rgb(8, 126, 253);
}
.feature-product-section .main-feature-box {
  padding-top: 50px;
}
.feature-product-section .main-feature-box .product-box .product-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 12.8px;
}
.feature-product-section .main-feature-box .product-box .product-content.shoe-colour button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  margin-right: 5px;
  margin-top: 5px;
}
@media only screen and (max-width: 576px) {
  .feature-product-section .main-feature-box .product-box .product-content.shoe-colour button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
.feature-product-section .main-feature-box .product-box .product-content.shoe-colour button.blue {
  background-color: blue;
}
.feature-product-section .main-feature-box .product-box .product-content.shoe-colour button.green {
  background-color: green;
}
.feature-product-section .main-feature-box .product-box .product-content.shoe-colour button.orange {
  background-color: orange;
}
.feature-product-section .main-feature-box .product-box .product-content .product-name {
  font-weight: 700;
  line-height: 20.8px;
  font-size: 16px;
  margin-bottom: 8px;
}
.feature-product-section .main-feature-box .product-box .product-content .product-for {
  font-size: 13.6px;
  font-weight: 400;
  line-height: 17.68px;
  margin-bottom: 6.8px;
  opacity: 0.6;
}
.feature-product-section .main-feature-box .product-box .product-content .discount-price {
  font-size: 14.4px;
  line-height: 18.72px;
  text-align: left;
  font-weight: 700;
  color: rgb(51, 51, 51);
  opacity: 0.7;
}
.feature-product-section .main-feature-box .product-box .product-content .regular-price {
  font-size: 14.4px;
  font-weight: 700;
  line-height: 18.72px;
  color: rgb(51, 51, 51);
  margin-bottom: 7.2px;
}
.feature-product-section .main-feature-box .product-box .product-content .ratings {
  font-size: 13.712px;
  font-weight: 400;
  line-height: 13.712px;
  margin-top: 6.856px;
}

.footer-section {
  font-family: "Lato", sans-serif;
  padding-top: 75px;
  padding-bottom: 100px;
}
.footer-section .dhk-logo {
  margin-bottom: 45px;
}
@media only screen and (max-width: 576px) {
  .footer-section .dhk-logo {
    margin-left: 40%;
    margin-bottom: 30px;
  }
}
.footer-section .dhk-logo img {
  width: 90px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-section h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  margin-top: 30px;
}
@media only screen and (max-width: 576px) {
  .footer-section h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.footer-section .male-section .title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15.4px;
  line-height: 33px;
}
@media only screen and (max-width: 576px) {
  .footer-section .male-section .title {
    text-align: center;
  }
}
.footer-section .male-section ul {
  list-style: none;
  padding-left: 0px;
}
@media only screen and (max-width: 576px) {
  .footer-section .male-section ul li .list-item {
    text-align: center;
  }
}
.footer-section .male-section ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 29.7143px;
  text-align: left;
  color: rgba(0, 0, 0, 0.51);
}
.footer-section .male-section ul li a:hover {
  color: blue;
}
.footer-section .subscribe-section .title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15.4px;
  line-height: 33px;
}
@media only screen and (max-width: 576px) {
  .footer-section .subscribe-section .title {
    text-align: center;
  }
}
.footer-section .subscribe-section .input-group {
  padding: 10px 0;
}
.footer-section .subscribe-section .input-group .form-control {
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 12px;
}
.footer-section .subscribe-section .btn {
  margin-top: 10px;
  border-radius: 0px;
  text-transform: uppercase;
  padding: 10px 20px;
}
@media only screen and (max-width: 576px) {
  .footer-section .subscribe-section .btn {
    margin-left: 35%;
  }
}
.footer-section .footer-last-part {
  padding: 30px 0;
}
@media only screen and (max-width: 576px) {
  .footer-section .footer-last-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}
.footer-section .footer-last-part .footer-left a {
  font-size: 15px;
  font-weight: 400;
  line-height: 27.85px;
  color: rgb(51, 51, 51);
  text-decoration: none;
}
.footer-section .footer-last-part .footer-right i {
  cursor: pointer;
  margin-left: 15px;
}
.footer-section .footer-last-part .footer-right i:hover {
  color: blue;
}

.special-wrapper {
  background-color: rgb(245, 247, 249);
}
.special-wrapper .special-edition {
  background-image: url(/assets/asset\ 30.jpeg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  color: white;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}
@media only screen and (max-width: 576px) {
  .special-wrapper .special-edition {
    padding: 60px 20px;
  }
}
.special-wrapper .special-edition .special-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media only screen and (max-width: 576px) {
  .special-wrapper .special-edition .special-items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.special-wrapper .special-edition .special-items .offer {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 576px) {
  .special-wrapper .special-edition .special-items .offer {
    font-size: 18px;
    line-height: 22px;
  }
}
.special-wrapper .special-edition .special-items h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 54.6px;
}
@media only screen and (max-width: 576px) {
  .special-wrapper .special-edition .special-items h2 {
    font-size: 25px;
    line-height: 33px;
  }
}
.special-wrapper .special-edition .special-items p {
  font-size: 16px;
  font-weight: 400;
  line-height: 29.7143px;
}
@media only screen and (max-width: 576px) {
  .special-wrapper .special-edition .special-items p {
    font-size: 15px;
    line-height: 27px;
    text-align: center;
  }
}
.special-wrapper .special-edition .special-items h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 576px) {
  .special-wrapper .special-edition .special-items h4 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) {
  .special-wrapper .special-edition .special-items h4 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}
.special-wrapper .special-edition .special-items .btn {
  border: none;
  border-radius: 0px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 1px;
  line-height: 14px;
  padding: 16px 28px;
  text-transform: uppercase;
  width: 30%;
}
@media only screen and (max-width: 576px) {
  .special-wrapper .special-edition .special-items .btn {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .special-wrapper .special-edition .special-items .btn {
    width: 40%;
  }
}
.special-wrapper .special-edition .special-items .btn:hover {
  background-color: black;
  color: white;
}

.quality-provide-section {
  font-family: "Lato", sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 576px) {
  .quality-provide-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.quality-provide-section .small-container {
  margin-left: 90px;
  margin-right: 90px;
}
@media only screen and (max-width: 576px) {
  .quality-provide-section .small-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.quality-provide-section .small-container .quality-container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quality-provide-section .small-container .quality-container .quality-img {
  margin-bottom: 20px;
}
.quality-provide-section .small-container .quality-container .quality-img img {
  width: 52px;
  height: 52px;
}
.quality-provide-section .small-container .quality-container .title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  margin-bottom: 12px;
  color: black;
}
@media only screen and (max-width: 1024px) {
  .quality-provide-section .small-container .quality-container .title {
    text-align: center;
  }
}
.quality-provide-section .small-container .quality-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 29.71px;
  color: black;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-align: center;
}

.offer-title {
  padding: 30px;
}
@media only screen and (max-width: 576px) {
  .offer-title {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.offer-title h3 {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 39px;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  .offer-title h3 {
    font-size: 20px;
    text-align: center;
  }
}

.offcanvas .offcanvas-body {
  padding-left: 0px;
  padding-right: 0px;
}
.offcanvas .offcanvas-body ul {
  padding-left: 0px;
}
.offcanvas .offcanvas-body ul li {
  list-style: none;
}
.offcanvas .offcanvas-body ul li .context {
  background-color: rgb(238, 242, 243);
  padding: 15px 25px;
}
.offcanvas .offcanvas-body ul li .context a {
  text-decoration: none;
  color: black;
}
.offcanvas .offcanvas-body ul li .context a i {
  font-size: 20px;
}