.nav-section {
  position: relative;
  z-index: 999;
  .nav-wrapper {
    .navbar {
      font-family: "Lato", sans-serif;
      padding: 0 35px;
      position: absolute;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.07);
      @include sm {
        background-color: white;
        padding: 0 0;
      }
      .nav-left-part {
        .nav-left-section {
          .navbar-nav {
            .nav-item {
              .nav-link {
                font-size: 14.4px;
                line-height: 70px;
                padding-left: 14.4px;
                padding-right: 14.4px;
                color: white;
                text-transform: uppercase;
              }
            }
          }
        }
      }

      .mobile-view {
        margin-left: 140px;
        .money {
          margin-right: 7px;
          font-size: 15px;
          line-height: 39px;
          font-weight: 600;
        }
        .bag {
          position: relative;
          margin-left: 5px;
          top: 5px;

          i {
            font-size: 15px;
          }

          .zero-sec {
            background-color: black;
            height: 16px;
            width: 16px;
            border-radius: 50%;

            position: absolute;
            top: -3px;
            left: 8px;
            .zero {
              position: absolute;
              top: -2px;
              left: 4px;
              color: white;
              font-size: 13px;
            }
          }
        }
      }

      .navbar-toggler {
        background-color: black;
        border-radius: 0px;
        border: none;
        box-shadow: none;
        padding-left: 5px;
        padding-right: 5px;
        .navbar-toggler-icon {
          background-image: unset;
          color: white;
        }
      }

      .nav-right-section {
        .navbar-nav {
          .nav-item {
            .nav-link {
              color: white;
              font-size: 14px;
              font-weight: 500;

              padding-left: 13px;
              padding-right: 13px;

              .cart-img {
                position: relative;
                i {
                  font-size: 15px;
                }

                .zero-box-item {
                  position: absolute;
                  background-color: white;
                  color: black;
                  top: -11px;
                  left: 8px;
                  border-radius: 50%;
                  height: 17px;
                  width: 17px;
                  text-align: center;
                  font-size: 12px;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}

#offcanvasCart {
  .offcanvas-header {
    h5 {
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
    }

    .btn-close {
      box-shadow: none;
      --bs-btn-close-opacity: 1;
    }
  }
  .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 16px;
      font-weight: 400;
      color: rgb(51, 51, 51);
    }

    button {
      position: absolute;
      bottom: 0px;
      width: 100%;
      border: none;
      border-radius: 0px;

      @include xl {
        margin-top: 490px;
      }
    }
  }
}

#offcanvasCarttwo {
  .offcanvas-header {
    h5 {
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
    }
  }
  .offcanvas-body {
    p {
      font-size: 16px;
      font-weight: 400;
      color: rgb(51, 51, 51);
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
