.nav-section {
  position: relative;
  z-index: 999;
  .nav-wrapper {
    .navbar {
      font-family: "Lato", sans-serif;
      padding: 0 35px;
      position: absolute;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.07);

      @include md {
        padding: 8px 10px;
      }
      @include sm {
        background-color: $white-color;
        padding: 0 0;
      }
      .nav-left-part {
        .nav-left-section {
          .navbar-nav {
            .nav-item {
              .nav-link {
                font-size: 14.4px;
                line-height: 70px;
                padding-left: 14.4px;
                padding-right: 14.4px;
                color: $white-color;
                text-transform: uppercase;
              }
            }
          }
        }
      }

      .navbar-toggler {
        background-color: $black-color;
        border-radius: 0px;
        border: none;
        box-shadow: none;
        padding-left: 5px;
        padding-right: 5px;

        padding-top: 5px;
        padding-bottom: 3px;
        .navbar-toggler-icon {
          background-image: unset;
          color: $white-color;
        }
      }

      .nav-right-section {
        .res-colour {
          @include md {
            color: $black-color !important  ;
          }
        }

        .pd {
          padding-right: 0px !important;
        }
        .navbar-nav {
          @include lg {
            flex-direction: row;
          }
          @include md {
            flex-direction: row;
          }
          @include sm {
            flex-direction: row;
          }
          .nav-item {
            &.c-svg {
              .account-icon {
                margin-top: 5px;
                margin-left: 3px;
                fill: $white-color;
              }
            }
            .nav-link {
              color: $white-color;
              font-size: 14px;
              font-weight: 500;

              padding-left: 13px;
              padding-right: 13px;

              @include md {
                font-weight: 700;
              }

              @include sm {
                font-weight: 700;
              }

              .cart-img {
                position: relative;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);

                i {
                  font-size: 15px;
                }

                .zero-box-item {
                  position: absolute;
                  background-color: $white-color;
                  color: $black-color;

                  top: -11px;
                  left: 8px;
                  border-radius: 50%;

                  height: 18px;
                  width: 18px;
                  border-radius: 50%;

                  text-align: center;
                  font-size: 12px;
                  font-weight: 900;
                  @include lg {
                    background-color: $black-color !important;
                    color: $white-color;
                  }
                  @include md {
                    background-color: $black-color;
                    color: $white-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#offcanvasCart {
  .offcanvas-header {
    h5 {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
    }

    .btn-close {
      box-shadow: none;
      --bs-btn-close-opacity: 1;
    }
  }
  .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: rgb(51, 51, 51);
    }

    button {
      font-family: "Lato", sans-serif;
      position: absolute;
      bottom: 20px;
      width: 90%;
      border: none;
      border-radius: 0px;

      @include xl {
        margin-top: 490px;
      }
    }
  }
}

#offcanvasCarttwo {
  height: 100%;
  .offcanvas-header {
    h5 {
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
    }
  }

  button {
    border-radius: 0px;
  }

  .offcanvas-body {
    p {
      font-size: 16px;
      font-weight: 400;
      color: rgb(51, 51, 51);
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
