.main-home-section {
  font-family: "Lato", sans-serif;
  background: url(/assets/asset\ 25.jpeg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;

  @include sm {
    height: 476px;
  }

  @include md {
    height: 579px !important;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: linear-gradient(180deg, #0084d682 -50%, #00000074 100%);

    @include sm {
      height: auto;
    }
  }

  .height {
    height: 100%;
  }

  // flex-direction: column;
  // align-items: center;
  // justify-content: start;

  .home-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    position: relative;
    z-index: 2;
    height: 100vh;

    // @include sm {
    //   z-index: 0;
    //   height: 406px;
    // }

    @include xl {
      padding-left: 30px !important;
      height: 565px;
    }

    @include md {
      z-index: 2;
      // padding: 120px 0;

      height: 579px;
    }

    @include sm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 140px;
      padding-bottom: 75px;
      height: 460px;
    }

    .home-content-title {
      h1 {
        font-size: 66px;
        font-weight: 700;
        line-height: 79.2px;
        color: white;

        @include md {
          font-size: 50px;
          line-height: 60px;
        }
        @include sm {
          font-size: 30px;
          text-align: center;
          line-height: 36px;
        }
      }
    }

    .home-content-discount {
      margin-top: 25px;
      margin-bottom: 20px;
      h3 {
        font-size: 26px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
        color: white;

        @include sm {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .home-button {
      .shop-button {
        .btn {
          border: none;
          border-radius: 0px;
          color: black;
          background-color: white;
          text-decoration: none;
          font-size: 14px;
          font-weight: 700;
          text-size-adjust: 100%;
          letter-spacing: 1px;
          line-height: 14px;
          padding: 16px 28px;
          text-transform: uppercase;

          @include sm {
            width: 100%;
          }

          &:hover {
            background-color: black;
            color: white;
          }

          &.btn-2 {
            margin-left: 20px;
            background-color: transparent;
            color: white;
            border: 1px solid white;
            @include sm {
              margin-left: 0px;
              margin-top: 15px;
            }

            &:hover {
              background-color: white;
              color: black;
            }
          }
        }
      }
    }
  }
}
