.offer-title {
  padding: 30px;


  @include xl{
    padding-left: 0px;
  }
  @include md{
    padding: 50px 0 ;
  }

  @include  sm {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 35px;
    padding-bottom: 20px;
  };
  h3 {
    font-family: "Lato", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 39px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 0px;

    &:hover{
      color: rgb(43, 43, 255);
    }

    @include md{
     font-size: 20px;
     line-height: 30px; 
    }
    @include sm {
      font-size: 20px;
      text-align: center;
    }
  }
}
