.offcanvas {
  .btn-close {
    --bs-btn-close-focus-shadow: none;
    --bs-btn-close-opacity: 1;
  }
  .offcanvas-body {
    padding-left: 0px;
    padding-right: 0px;
    ul {
      padding-left: 0px;
      li {
        list-style: none;
        .context {
          .account-icon{
             @include sm{
              width: 18px;
              height: 18px;
             }
          }
          &.contact {
            background-color: white;
          }

          &.font {
            font-weight: 100 !important;
          }
          background-color: rgb(238, 242, 243);
          padding: 15px 25px;
          a {
            font-family: "Lato", sans-serif;
            text-decoration: none;
            color: black;
            font-size: 14px;
            line-height: 39px;
            font-weight: 700;
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
