.special-wrapper {
  background-color: rgb(245, 247, 249);

  .special-edition {
    font-family: "Lato", sans-serif;
    background-image: url(/assets/asset\ 30.jpeg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 100px;
    color: white;
    @include md {
      padding-top: 60px;
      padding-right: 60px;
      padding-bottom: 60px;
      padding-left: 50px;
      background-attachment: unset;
    }

    @include sm {
      padding: 60px 20px;
      background-attachment: unset;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // background-color: rgb(0, 0, 0, 0.1);
      background-image: linear-gradient(180deg, #0084d665 -50%, #00000074 100%);
    }

    .special-items {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @include sm {
        align-items: center;
        justify-content: center;
      }
      .offer {
        font-weight: 700;
        line-height: 24px;
        font-size: 20px;
        margin-bottom: 20px;

        @include md {
          font-size: 18px;
          line-height: 22px;
        }
        @include sm {
          font-size: 18px;
          line-height: 22px;
        }
      }

      h2 {
        font-weight: 700;
        font-size: 42px;
        line-height: 54.6px;
        @include md {
          font-size: 25px;
          line-height: 33px;
        }
        @include sm {
          font-size: 25px;
          line-height: 33px;
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 29.7143px;
        @include md {
          font-size: 15px;
          line-height: 27px;
        }
        @include sm {
          font-size: 15px;
          line-height: 27px;
          text-align: center;
        }
      }
      h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 28.8px;
        margin-bottom: 40px;
        @include xl {
          font-size: 18px;
          line-height: 22px;
        }
        @include md {
          font-size: 18px;
          line-height: 22px;
        }
        @include sm {
          font-size: 18px;
          line-height: 22px;
          text-align: center;
        }
      }

       
    }

    .btn {
        border: none;
        border-radius: 0px;
        color: black;
        background-color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        text-size-adjust: 100%;
        letter-spacing: 1px;
        line-height: 14px;
        padding: 16px 28px;
        text-transform: uppercase;
       

        // @include xl {
        //   width: 40%;
        // }
        // @include md {
        //   width: 30%;
        // }
        @include sm {
          width: 100%;
        }

        &:hover {
          background-color: black;
          color: white;
        }
      }
  }
}
